body{
    font-family: sans-serif;
    font-size: 25px;
}

header{
    background-color: antiquewhite;
    color: coral;
}
nav{
    color: coral;
    background-color: antiquewhite;
    font-weight: bold;
    width: 100%;
    display: inline-block;
}

nav img{
    width: 10%;
}

table,tr, td{
    color: coral;
    border: 2px solid darkorange;
}

main{
    background-color: antiquewhite;
    color: coral;
    font-size: 25px;
}

body{
    color: coral;
    background-color: antiquewhite;
    font-size: 25px;
    font-family: sans-serif;
}
h1{
    color:darkorange; 
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}
h2{
    text-align: center;
}

footer{
    background-color: ghostwhite;
    text-align: right;
    font-size: small;
}

/*li{
    display: list-item;
    width:auto;
}
*/

p{
    height: auto;
}

a{
    color: coral;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.grid{
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly ;
}

